hotel: The type of hotel, either "City Hotel" or "Resort Hotel.", resort = vacances

is_canceled: Binary value indicating whether the booking was cancelled (1) or not (0).

lead_time: Number of days between booking and arrival.

arrival_date_year: Year of arrival date.

arrival_date_month: Month of arrival date.

arrival_date_week_number: Week number of arrival date.

arrival_date_day_of_month: Day of the month of arrival date.

stays_in_weekend_nights: Number of weekend nights (Saturday or Sunday) the guest stays.

stays_in_week_nights: Number of weekday nights (Monday to Friday) the guest stays.

adults: Number of adults.

children: Number of children.

babies: Number of babies.

meal: Type of meal booked.

country: Country of origin.

market_segment: Market segment designation.

distribution_channel: Booking distribution channel.

is_repeated_guest: Binary value indicating whether the guest is a repeated guest (1) or not (0).

previous_cancellations: Number of previous booking cancellations.

previous_bookings_not_canceled: Number of previous bookings not cancelled.

reserved_room_type: Code of room type reserved.

assigned_room_type: Code of room type assigned at check-in.

booking_changes: Number of changes/amendments made to the booking.

deposit_type: Type of deposit made.

agent: ID of the travel agency.

company: ID of the company.

days_in_waiting_list: Number of days in the waiting list before booking.

customer_type: Type of booking.

adr: Average daily rate. combien gagne l'hotel, pour la journée donnée, par chambre

required_car_parking_spaces: Number of car parking spaces required.

total_of_special_requests: Number of special requests made.

reservation_status: Reservation last status.

reservation_status_date: Date of the last status.

name: Guest's name. (Not Real)

email: Guest's email address.(Not Real)

phone-number: Guest's phone number. (Not Real)

credit_card: Guest's credit card details. (Not Real)

In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt
from fct import *

In [2]:
df = pd.read_csv("../hotel_bookings.csv", sep=",")
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

# Cleaning

### NaN and select columns

In [3]:
colonne_a_garder = ["hotel", "is_canceled", "lead_time", "arrival_date_year", "arrival_date_month", "arrival_date_day_of_month", "stays_in_weekend_nights", "stays_in_week_nights", "adults", "children", "babies", "meal", "country", "market_segment", "is_repeated_guest", "previous_cancellations", "previous_bookings_not_canceled", "reserved_room_type", "assigned_room_type", "booking_changes", "deposit_type", "days_in_waiting_list", "customer_type", "adr", "required_car_parking_spaces", "total_of_special_requests"]
df = df[colonne_a_garder]
df.dropna(inplace=True)
df.drop_duplicates(subset=colonne_a_garder, inplace=True)
print(df.isnull().sum())

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
dtype: int64

/var/folders/1q/ds13mxv91mgf0b9tt_mwyb4r0000gn/T/ipykernel_25441/4157271603.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)
/var/folders/1q/ds13mxv91mgf0b9tt_mwyb4r0000gn/T/ipykernel_25441/4157271603.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=colonne_a_garder, inplace=True)

## type of columns (date, ...)

In [4]:
df['arrival_date_month'] = pd.to_datetime(df.arrival_date_month, format='%B', errors='coerce').dt.month
df['arrival_date'] = pd.to_datetime(df[['arrival_date_year','arrival_date_month','arrival_date_day_of_month']].astype(str).agg('-'.join, axis=1))
df.drop(['arrival_date_year','arrival_date_month','arrival_date_day_of_month'], axis=1, inplace=True)
print(df)

/var/folders/1q/ds13mxv91mgf0b9tt_mwyb4r0000gn/T/ipykernel_25441/2894240059.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['arrival_date_month'] = pd.to_datetime(df.arrival_date_month, format='%B', errors='coerce').dt.month

               hotel  is_canceled  lead_time  stays_in_weekend_nights  \
0       Resort Hotel            0        342                        0
1       Resort Hotel            0        737                        0
2       Resort Hotel            0          7                        0
3       Resort Hotel            0         13                        0
4       Resort Hotel            0         14                        0
...              ...          ...        ...                      ...
119385    City Hotel            0         23                        2
119386    City Hotel            0        102                        2
119387    City Hotel            0         34                        2
119388    City Hotel            0        109                        2
119389    City Hotel            0        205                        2

        stays_in_week_nights  adults  children  babies meal country  ...  \
0                          0       2       0.0       0   BB     PRT  ...
1                          0       2       0.0       0   BB     PRT  ...
2                          1       1       0.0       0   BB     GBR  ...
3                          1       1       0.0       0   BB     GBR  ...
4                          2       2       0.0       0   BB     GBR  ...
...                      ...     ...       ...     ...  ...     ...  ...
119385                     5       2       0.0       0   BB     BEL  ...
119386                     5       3       0.0       0   BB     FRA  ...
119387                     5       2       0.0       0   BB     DEU  ...
119388                     5       2       0.0       0   BB     GBR  ...
119389                     7       2       0.0       0   HB     DEU  ...

       reserved_room_type  assigned_room_type  booking_changes  deposit_type  \
0                       C                   C                3    No Deposit
1                       C                   C                4    No Deposit
2                       A                   C                0    No Deposit
3                       A                   A                0    No Deposit
4                       A                   A                0    No Deposit
...                   ...                 ...              ...           ...
119385                  A                   A                0    No Deposit
119386                  E                   E                0    No Deposit
119387                  D                   D                0    No Deposit
119388                  A                   A                0    No Deposit
119389                  A                   A                0    No Deposit

       days_in_waiting_list customer_type     adr required_car_parking_spaces  \
0                         0     Transient    0.00                           0
1                         0     Transient    0.00                           0
2                         0     Transient   75.00                           0
3                         0     Transient   75.00                           0
4                         0     Transient   98.00                           0
...                     ...           ...     ...                         ...
119385                    0     Transient   96.14                           0
119386                    0     Transient  225.43                           0
119387                    0     Transient  157.71                           0
119388                    0     Transient  104.40                           0
119389                    0     Transient  151.20                           0

        total_of_special_requests arrival_date
0                               0   2015-07-01
1                               0   2015-07-01
2                               0   2015-07-01
3                               0   2015-07-01
4                               1   2015-07-01
...                           ...          ...
119385                          0   2017-08-30
119386                          2   2017-08-31
119387                          4   2017-08-31
119388                          0   2017-08-31
119389                          2   2017-08-29

[86650 rows x 24 columns]

/var/folders/1q/ds13mxv91mgf0b9tt_mwyb4r0000gn/T/ipykernel_25441/2894240059.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['arrival_date'] = pd.to_datetime(df[['arrival_date_year','arrival_date_month','arrival_date_day_of_month']].astype(str).agg('-'.join, axis=1))
/var/folders/1q/ds13mxv91mgf0b9tt_mwyb4r0000gn/T/ipykernel_25441/2894240059.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['arrival_date_year','arrival_date_month','arrival_date_day_of_month'], axis=1, inplace=True)

## nettoyage données valeurs aberrantes (var quanti), modalité seule (var quali)

In [5]:
columns_to_filter_quanti = ["lead_time", "stays_in_weekend_nights", "stays_in_week_nights", "adults", "children", "babies", "previous_cancellations", "previous_bookings_not_canceled", "booking_changes", "days_in_waiting_list", "adr", "required_car_parking_spaces"]
columns_to_filter_quali = ["reserved_room_type", "assigned_room_type"]

# Filter variables quanti
for column in columns_to_filter_quanti:
    df = filter_occurence_variable(df, column, 10)

# Filter variables quali
for column in columns_to_filter_quali:
    df = filter_occurence_variable(df, column, 10)

df = df[df['meal'] != "Undefined"]

## binary to categorielle

In [6]:
# columns_binary = ["is_canceled", "is_repeated_guest"]

# for column in columns_binary:
#     df[column] = df[column].astype('category')

# print(df["is_canceled"].info())

## Encodage One-hot pour algo machine learning

In [7]:
col_quali = ["hotel", "meal", "market_segment", "reserved_room_type", "assigned_room_type", "deposit_type", "customer_type"]
df_encoded = pd.get_dummies(df, columns=col_quali, dtype=int)
df_encoded.drop(['country', "arrival_date"], axis=1, inplace=True)
for col in df_encoded.columns:
    if df_encoded[col].dtype != "float64":
        df_encoded[col] = df_encoded[col].astype('int64')

df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68439 entries, 0 to 119389
Data columns (total 53 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   is_canceled                     68439 non-null  int64
 1   lead_time                       68439 non-null  int64
 2   stays_in_weekend_nights         68439 non-null  int64
 3   stays_in_week_nights            68439 non-null  int64
 4   adults                          68439 non-null  int64
 5   children                        68439 non-null  float64
 6   babies                          68439 non-null  int64
 7   is_repeated_guest               68439 non-null  int64
 8   previous_cancellations          68439 non-null  int64
 9   previous_bookings_not_canceled  68439 non-null  int64
 10  booking_changes                 68439 non-null  int64
 11  days_in_waiting_list            68439 non-null  int64
 12  adr                             68439 non-null  float64
 13  required_car_parking_spaces     68439 non-null  int64
 14  total_of_special_requests       68439 non-null  int64
 15  hotel_City Hotel                68439 non-null  int64
 16  hotel_Resort Hotel              68439 non-null  int64
 17  meal_BB                         68439 non-null  int64
 18  meal_FB                         68439 non-null  int64
 19  meal_HB                         68439 non-null  int64
 20  meal_SC                         68439 non-null  int64
 21  market_segment_Aviation         68439 non-null  int64
 22  market_segment_Complementary    68439 non-null  int64
 23  market_segment_Corporate        68439 non-null  int64
 24  market_segment_Direct           68439 non-null  int64
 25  market_segment_Groups           68439 non-null  int64
 26  market_segment_Offline TA/TO    68439 non-null  int64
 27  market_segment_Online TA        68439 non-null  int64
 28  reserved_room_type_A            68439 non-null  int64
 29  reserved_room_type_B            68439 non-null  int64
 30  reserved_room_type_C            68439 non-null  int64
 31  reserved_room_type_D            68439 non-null  int64
 32  reserved_room_type_E            68439 non-null  int64
 33  reserved_room_type_F            68439 non-null  int64
 34  reserved_room_type_G            68439 non-null  int64
 35  reserved_room_type_H            68439 non-null  int64
 36  assigned_room_type_A            68439 non-null  int64
 37  assigned_room_type_B            68439 non-null  int64
 38  assigned_room_type_C            68439 non-null  int64
 39  assigned_room_type_D            68439 non-null  int64
 40  assigned_room_type_E            68439 non-null  int64
 41  assigned_room_type_F            68439 non-null  int64
 42  assigned_room_type_G            68439 non-null  int64
 43  assigned_room_type_H            68439 non-null  int64
 44  assigned_room_type_I            68439 non-null  int64
 45  assigned_room_type_K            68439 non-null  int64
 46  deposit_type_No Deposit         68439 non-null  int64
 47  deposit_type_Non Refund         68439 non-null  int64
 48  deposit_type_Refundable         68439 non-null  int64
 49  customer_type_Contract          68439 non-null  int64
 50  customer_type_Group             68439 non-null  int64
 51  customer_type_Transient         68439 non-null  int64
 52  customer_type_Transient-Party   68439 non-null  int64
dtypes: float64(2), int64(51)
memory usage: 28.2 MB

## Standardiser les variables quantitatives

In [8]:
df = standardisation(df)
df

              hotel  is_canceled meal country market_segment  \
0      Resort Hotel          0.0   BB     PRT         Direct
2      Resort Hotel          0.0   BB     GBR         Direct
3      Resort Hotel          0.0   BB     GBR      Corporate
4      Resort Hotel          0.0   BB     GBR      Online TA
6      Resort Hotel          0.0   BB     PRT         Direct
...             ...          ...  ...     ...            ...
68429           NaN          NaN  NaN     NaN            NaN
68431           NaN          NaN  NaN     NaN            NaN
68432           NaN          NaN  NaN     NaN            NaN
68433           NaN          NaN  NaN     NaN            NaN
68434           NaN          NaN  NaN     NaN            NaN

       is_repeated_guest reserved_room_type assigned_room_type deposit_type  \
0                    0.0                  C                  C   No Deposit
2                    0.0                  A                  C   No Deposit
3                    0.0                  A                  A   No Deposit
4                    0.0                  A                  A   No Deposit
6                    0.0                  C                  C   No Deposit
...                  ...                ...                ...          ...
68429                NaN                NaN                NaN          NaN
68431                NaN                NaN                NaN          NaN
68432                NaN                NaN                NaN          NaN
68433                NaN                NaN                NaN          NaN
68434                NaN                NaN                NaN          NaN

      customer_type  ...    adults  children    babies  \
0         Transient  ...  0.293848 -0.272385 -0.098287
2         Transient  ... -1.677208 -0.272385 -0.098287
3         Transient  ...  0.293848 -0.272385 -0.098287
4         Transient  ...  0.293848 -0.272385 -0.098287
6         Transient  ...  0.293848 -0.272385 -0.098287
...             ...  ...       ...       ...       ...
68429           NaN  ... -1.677208 -0.272385 -0.098287
68431           NaN  ...  0.293848 -0.272385 -0.098287
68432           NaN  ...  0.293848 -0.272385 -0.098287
68433           NaN  ...  0.293848 -0.272385 -0.098287
68434           NaN  ...  0.293848 -0.272385 -0.098287

       previous_cancellations  previous_bookings_not_canceled  \
0                   -0.098685                       -0.140784
2                   -0.098685                       -0.140784
3                   -0.098685                       -0.140784
4                   -0.098685                       -0.140784
6                   -0.098685                       -0.140784
...                       ...                             ...
68429               -0.098685                       -0.140784
68431               -0.098685                       -0.140784
68432               -0.098685                       -0.140784
68433               -0.098685                       -0.140784
68434               -0.098685                       -0.140784

       booking_changes  days_in_waiting_list       adr  \
0             4.212912              -0.06194 -2.134685
2            -0.378753              -0.06194 -0.583300
3            -0.378753              -0.06194 -0.107543
4            -0.378753              -0.06194  0.078624
6            -0.378753              -0.06194 -0.438505
...                ...                   ...       ...
68429        -0.378753              -0.06194  0.099309
68431        -0.378753              -0.06194  0.285475
68432        -0.378753              -0.06194 -0.366107
68433        -0.378753              -0.06194 -0.086857
68434        -0.378753              -0.06194  1.071509

       required_car_parking_spaces  total_of_special_requests
0                        -0.292834                  -0.828902
2                        -0.292834                  -0.828902
3                        -0.292834                   0.381321
4                        -0.292834                  -0.828902
6                        -0.292834                   0.381321
...                            ...                        ...
68429                    -0.292834                   1.591544
68431                    -0.292834                   1.591544
68432                    -0.292834                   0.381321
68433                    -0.292834                   0.381321
68434                    -0.292834                   0.381321

[99753 rows x 24 columns]

,hotel,is_canceled,meal,country,market_segment,is_repeated_guest,reserved_room_type,assigned_room_type,deposit_type,customer_type,...,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,Resort Hotel,0.0,BB,PRT,Direct,0.0,C,C,No Deposit,Transient,...,0.293848,-0.272385,-0.098287,-0.098685,-0.140784,4.212912,-0.06194,-2.134685,-0.292834,-0.828902
2,Resort Hotel,0.0,BB,GBR,Direct,0.0,A,C,No Deposit,Transient,...,-1.677208,-0.272385,-0.098287,-0.098685,-0.140784,-0.378753,-0.06194,-0.583300,-0.292834,-0.828902
3,Resort Hotel,0.0,BB,GBR,Corporate,0.0,A,A,No Deposit,Transient,...,0.293848,-0.272385,-0.098287,-0.098685,-0.140784,-0.378753,-0.06194,-0.107543,-0.292834,0.381321
4,Resort Hotel,0.0,BB,GBR,Online TA,0.0,A,A,No Deposit,Transient,...,0.293848,-0.272385,-0.098287,-0.098685,-0.140784,-0.378753,-0.06194,0.078624,-0.292834,-0.828902
6,Resort Hotel,0.0,BB,PRT,Direct,0.0,C,C,No Deposit,Transient,...,0.293848,-0.272385,-0.098287,-0.098685,-0.140784,-0.378753,-0.06194,-0.438505,-0.292834,0.381321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.677208,-0.272385,-0.098287,-0.098685,-0.140784,-0.378753,-0.06194,0.099309,-0.292834,1.591544
68431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.293848,-0.272385,-0.098287,-0.098685,-0.140784,-0.378753,-0.06194,0.285475,-0.292834,1.591544
68432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.293848,-0.272385,-0.098287,-0.098685,-0.140784,-0.378753,-0.06194,-0.366107,-0.292834,0.381321
68433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.293848,-0.272385,-0.098287,-0.098685,-0.140784,-0.378753,-0.06194,-0.086857,-0.292834,0.381321
68434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.293848,-0.272385,-0.098287,-0.098685,-0.140784,-0.378753,-0.06194,1.071509,-0.292834,0.381321

# Analyses

## Régression logistique